.mediaResultsContainer {
  background-color: rgba(0, 0, 0, 0.913);
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 80px;

  text-align: center;
}

.mediaResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loadMoreMediaResultsContainer {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 100px;
}

.resultsSummaryContainer {
  color: white;
  padding: 30px;
  margin-left: 35px;
}

.paginationButtons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 50px;
  gap: 50px;
}

.loginModalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  height: 80vh;
}

.loginModal {
  text-align: center;
}
