.resultsContainer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin: auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; /* Adjust spacing between items */
  grid-auto-rows: minmax(120px, auto);
}

.loadMoreMediaResultsContainer {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 100px;
}

.paginationButtons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 50px;
  gap: 50px;
}

.loginModalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  height: 80vh;
}

.loginModal {
  text-align: center;
}
