.resultItem:nth-child(6n-5) {
  grid-row: span 2;
  grid-column: span 2;
}

.resultItem:nth-child(6n-1) {
  grid-row: span 2;
  grid-column: span 2;
}

.resultItem:nth-child(6n) {
  grid-row: span 1;
  grid-column: span 1;
}

/* Adjust styles for the items as needed */
.result-item {
  background-color: lightblue;
  padding: 20px;
  border: 1px solid blue;
}

.movieCardBtn {
  text-align: center;
}

.cardTitleContainer {
  height: 60px;
  font-size: 1.1rem;
  text-align: center;
  border: 1px solid red;
}
